{{- if .Values.filebeat.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "elk.fullname" . }}-filebeat
  labels:
    {{- include "elk.labels" . | nindent 4 }}
    app.kubernetes.io/component: filebeat
data:
  filebeat.yml: |
    filebeat.inputs:
    - type: container
      paths:
        - /var/log/containers/*.log
      processors:
        - add_kubernetes_metadata:
            host: ${NODE_NAME}
            matchers:
            - logs_path:
                logs_path: "/var/log/containers/"
        - drop_event:
            when:
              or:
                - equals:
                    kubernetes.namespace: "kube-system"
                - equals:
                    kubernetes.namespace: "kube-public"

    output.logstash:
      hosts: ["logstash:5044"]
      
    logging.level: info
    logging.to_files: false
    logging.to_stderr: true
{{- end }}
