{{- if .Values.filebeat.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "elk.fullname" . }}-filebeat
  labels:
    {{- include "elk.labels" . | nindent 4 }}
    app.kubernetes.io/component: filebeat
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "elk.fullname" . }}-filebeat
  labels:
    {{- include "elk.labels" . | nindent 4 }}
    app.kubernetes.io/component: filebeat
rules:
- apiGroups: [""]
  resources:
  - namespaces
  - pods
  - nodes
  verbs:
  - get
  - watch
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "elk.fullname" . }}-filebeat
  labels:
    {{- include "elk.labels" . | nindent 4 }}
    app.kubernetes.io/component: filebeat
subjects:
- kind: ServiceAccount
  name: {{ include "elk.fullname" . }}-filebeat
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ include "elk.fullname" . }}-filebeat
  apiGroup: rbac.authorization.k8s.io
{{- end }}
